input[type=text], input[type=password]{ /*passwordu ve textleri genişleyebileceği kadar genişlet*/
    width:100%;
    padding: 10px;
    border:2px solid midnightblue;
    border-radius: 10px;
    /*border-bottom -> altı çizilmiş gibiduruyor*/
}

input[type=text]:focus, input[type=password]:focus{ 
   background-color: rgb(125, 152, 231);
}

.myClass{ /*başında nokta olmazsa sınıf olduğunu bilemeyiz*/
    color:cornsilk;
    background-color: midnightblue;
}

p.paragraphClass{ /*sadece paragraflara özel sınıf*/
    color:white;
    background-color: rgb(66, 66, 142);
}

#email:focus{ /*id'si email olanı alıyor*/
    background-color:rgb(103, 109, 151);
    color:white;
}
               