input[type=text], input[type=password]{ /*passwordu ve textleri genişleyebileceği kadar genişlet*/
    width:100%;
    padding: 10px;
    border:2px solid midnightblue;
    border-radius: 10px;
    /*border-bottom -> altı çizilmiş gibiduruyor*/
}

input[type=text]:focus, input[type=password]:focus{ 
   background-color: rgb(125, 152, 231);
}

.myClass{
    color:cornsilk;
    background-color: midnightblue;
}

p.paragraphClass{
    color:white;
    background-color: rgb(56, 56, 112);
}

               